.menu-trigger {
  margin-left: 0.5em;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color .3s;
  color: #fff;
}

.menu-trigger:hover {
  color: #1890ff;
  cursor: pointer;
}

.layout-logo {
  width: 168px;
  height: 31px;
  float: left;
  margin-right: 60px;
}

.layout-logo img {
  width: 100%;
}

.text-bold {
  font-weight: bold;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.dynamic-add-fail {
  position: relative;
  top: 10px;
  font-size: 24px;
  color: red;
}

.dynamic-add-ok {
  position: relative;
  top: 10px;
  font-size: 24px;
  color: green;
}

.dynamic-spin {
  position: relative;
  font-size: 24px;
}

.menu-sidebar {
  position: fixed;
  height: 100%;
  padding-top: 64px;
  overflow: auto;
  z-index: 2;
}

.layout-content {
  margin-top: 80px;
}

@media (min-width: 768px) {
  .fu-icon {
    float: right;
  }
  .layout-content {
    margin-right: 5px;
    transition: margin .2s;
    padding: 15px
  }
  .layout-has-sider {
    margin-left: 250px;
  }
}

@media (max-width: 768px) {
  .fu-icon {
    margin-left: 45%;
    margin-top: -0.5em;
    vertical-align: top;
  }
}
